<!-- Page Content -->
<div class="container">
  <!-- Sidebar Widgets Column -->
  <div class="col">

    <!-- Search Widget -->
    <div class="card my-4">
      <app-cultural-offer-search (newItemEvent)="addItem($event)">

      </app-cultural-offer-search>
    </div>

    <!-- add new category -->
    <app-category *ngIf="this.nameForSearch.length<1" [categories]="categories" (newCategoryEvent)="addCategory($event)"></app-category>

    <!-- Category -->
    <div *ngIf="this.nameForSearch.length<1" class = "card  my-4" >
      <div class="card-body" style="background-color:rgb(160, 195, 236);">
        <div class="row" id = "categories">
          <div class="col-md-4 offer-card" *ngFor="let category of categories" >
            <div class = "card h-100 offer-card-inside">
              <button name ="categoryName" type="button" class="btn" [ngClass] = "currentCategory==category.id? 'btn-primary' : 'btn btn-light'"  (click)="this.changeCategory(category.id)" >{{category.name}}</button>
                <app-category-delete *ngIf="this.userRole=='admin'" [category]="category"
                    (refreshEvent)="refreshCategories($event)" style="position: absolute; right: 0%">
                </app-category-delete>
            </div>
          </div>
          <div *ngIf="categories.length < 1">
            <p>There is no categories!</p>
          </div>
        </div>
      </div>
    </div>

    <!--add cultural offer  -->
    <app-cultural-offer-add *ngIf="this.nameForSearch.length<2" [categories]="categories"></app-cultural-offer-add>

    <!--content offers -->
    <div class="row">
      <app-cultural-offer-list [currentCategory]="currentCategory" [searchByName]="nameForSearch">
      </app-cultural-offer-list>
    </div>

  </div>
</div>
