.btn-width {
  width: 95%;
}

.div-scroll {
  height: 130px;
  overflow-y: auto;
}

.div-scroll-sidebar {
  height: 450px;
  width: 99%;
  overflow-y: auto;
}

.paginator {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 300px;
}

.div-width {
  width: 300px;
}

.div-bottom {
  position: absolute;
  bottom: 0;
}
.container {
  padding-top: 56px;
}

.div-top {
  height: 500px;
}

.div-map {
  position: fixed;
  left: 300px;
}

.content-filter {
  position: fixed;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  height: 100%;
  max-width: 300px;
  min-width: 300px;
  position: fixed;
  left: 0;
}
