<head>
  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<div class="container">
  <div class="bg-light border" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <h2><span class="badge badge-light">FILTER <i class="fas fa-filter fa-sm"></i></span></h2>
    </div>
    <br>
    <div>
      <div class="div-width" id="filterForm">
        <div class="div-scroll-sidebar">
          <div class="card bg-light border">
            <div class="card-body">
              <h5 class="card-title">Cities</h5>
              <input id="cityFilterText" type="text" class="form-control" name="filterCity"
                aria-describedby="filter-text" [(ngModel)]="city" placeholder="Enter city" (focus)="showCity=true"
                (blur)="showCity=false">
              <div class="list-group div-scroll" *ngIf="showCity|| focusOnCityList" (mouseover)="focusOnCityList=true"
                (mouseleave)="focusOnCityList=false">
                <button id="cityFilterBtn" type="button" class="list-group-item list-group-item-action"
                  *ngFor="let c of this.cities | appFilter: city" appHighlight [searchedWord]="city" [content]="c"
                  [classToApply]="'font-weight-bold'" [setTitle]="true" (click)="write(c)">
                  {{c}}
                </button>
              </div>
              <pre><button id="removeCityBtn" class="btn btn-outline-dark btn-width" size="sm"  mdbBtn *ngIf="city&&cities.includes(city)" (click)="remove(city)">{{city}} <span class="badge badge-dark">X</span></button></pre>
            </div>
          </div>
          <div class="card bg-light border">
            <div class="card-body">
              <h5 class="card-title">Categories</h5>
              <input type="text" class="form-control" id="catFilterText" aria-describedby="search-text"
                [(ngModel)]="category" placeholder="Enter category" (focus)="showCat=true" (blur)="showCat=false">
              <div class="list-group div-scroll" *ngIf="showCat || focusOnCatList" (mouseover)="focusOnCatList=true"
                (mouseleave)="focusOnCatList=false">
                <button id="catFilterBtn" type="button" class="list-group-item list-group-item-action"
                  *ngFor="let c of this.categoryNames | appFilter: category" appHighlight [searchedWord]="category"
                  [content]="c" [classToApply]="'font-weight-bold'" [setTitle]="true" (click)="write(c)">
                  {{c}}
                </button>
              </div>
              <pre><button id="removeCategoryBtn" class="btn btn-outline-dark  btn-width btn-sm" mdbBtn *ngIf="category&&categoryNames.includes(category)" (click)="remove(category)">{{category}} <span class="badge badge-dark">X</span></button></pre>
            </div>
          </div>
          <div *ngIf="this.category && this.city" class="card bg-light border">
            <div id="clearAllDiv" class="card-body" *ngIf="this.category && this.city">
              <button id="clearAllBtn" class="btn btn-outline-dark btn-width" mdbBtn (click)="removeAll()">Clear all
                <span class="badge badge-dark">X</span></button>
            </div>
          </div>
        </div>
        <div class="paginator">
          <ngb-pagination id="paginator" class="d-flex justify-content-center" [collectionSize]="collectionSize"
            [maxSize]="3" [rotate]="true" [pageSize]="pageSize" [boundaryLinks]="false" [(page)]="page" size="sm"
            (pageChange)="changePage()">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <app-map [culturalOffers]="culturalOffers"></app-map>
</div>
