
<form  #heroForm="ngForm" appIdentityRevealed >
  <div class="cross-validation" [class.cross-validation-error]="heroForm.errors?.identityRevealed && (heroForm.touched || heroForm.dirty)">

    <ng-template #content let-modal>

            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Add category</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="form-group" >
                <label for="newName">Name</label>
                    <input id="newName" name="newName" class="form-control"
                          required
                          minlength="3"
                        [(ngModel)]="category.name"
                          #newName="ngModel"
                          placeholder="Name of new category"
                          (input)= "this.checkInputName();"

                          >

                      <div *ngIf="newName.invalid && (newName.dirty || newName.touched)"
                            class="alert alert-danger">

                        <div *ngIf="newName.errors?.required" id="required-name-invalid">
                              Name is required.
                        </div>

                        <div *ngIf="newName.errors?.minlength" id="minlenght-name-invalid">
                                Name must be at least 3 characters long.
                        </div>
                      </div>

                      <div *ngIf="forbiddenName">
                        <div class="alert alert-danger" id="exist-name-invalid">
                          Category with that name already exists.
                        </div>
                      </div>
              </div>
            </div>

        <div class="modal-footer">
           <button type="button" class="btn btn-outline-default" id = "cancel-btn" (click)="modal.close('close')">Cancel</button>
           <button type="submit" class="btn btn-default" id = "save-btn" [disabled]="heroForm.invalid || forbiddenName"
           (click)="this.save();modal.close('close')">Save</button>
       </div>

    </ng-template>
  </div>
</form>



<button class="btn btn-success" id = "add-category" (click)="open(content)" *ngIf = "this.userRole=='admin'" >ADD CATEGORY</button>

<pre>
  <!-- {{ closeResult }} -->
</pre>
