<img id = "deleteOfferIcon" class = "deleteCategoryClass" src="/assets/delete-24px.svg" alt="" (click) = "deleteCategory()">
<div class="spinner-border" role="status" *ngIf = "loading">
  <span class="sr-only">Loading...</span>
</div>
