<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Cultural Content</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li>
          <a class="nav-link" [routerLink]='' (click)="showMap()">Map</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]='' (click)="showList()">Cultural Offers</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li> -->
        <!-- ovdje ce se biti nevidljive neke stvari u zavisnosti ko je ulogovan -->
        <li class="nav-item" *ngIf = '!this.isAuthenticated'>
          <a class="nav-link" href="/register">Sign up</a>
        </li>
        <li class="true" *ngIf = '!this.isAuthenticated'>
          <a class="nav-link" [routerLink]='' id = "logInHeaderBtn" (click)="showLogInForm()">Log in</a>
        </li>
      </ul>
    </div>
    <div class="btn-group mr-3" *ngIf = 'this.isAuthenticated'>
      <button id = "usernameBtn" type="button" class="btn btn-primary">{{this.userDisplat}}</button>
      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle id = "dropdown"></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button id= "profileBtn" *ngIf ="this.userRole=='user'" ngbDropdownItem (click)="changeProfile()">Profile</button>
          <button id = "logoutBtn" ngbDropdownItem [routerLink]='' (click)="logOut()">Log out</button>
        </div>
      </div>
    </div>
  </div>
</nav>
