<div class="container">
  <form class="text-center">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="email" id="email" name="email" class="form-control mb-4" placeholder="E-mail" required
      [(ngModel)]="user.username" #email="ngModel">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors?.required">E-mail must not be empty.</div>
    </div>


    <!-- Password -->
    <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Password" required
      [(ngModel)]="user.password" #password="ngModel">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors?.required">Password must not be empty.</div>
    </div>
    <!-- Sign in button -->
    
    <button id = "loginBtn" type="button" mdbBtn color="primary" mdbWavesEffect type="submit" (click)="logIn()">Sign in</button>

    <!-- Register -->
    <p>Not a member?
      <a id = "registerLink" href="/register">Register</a>
    </p>

  </form>
</div>
