<ng-template #newsContent let-modal>

     <div>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add news</h4>
        <button id="closeBtn" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Title</label>
                <div class="input-group">
                    <textarea id="newsTitleArea" cols="50" rows="1" name = "newsTitle" ng-model="myTextarea" [(ngModel)] = "newsTitle"  [ngModelOptions]="{standalone: true}" (input)="onChange(this.newsTitle)"></textarea>
                </div>
                     
                
              </div>

          <div class="form-group">
            <label>Add your text here</label>
            <div class="input-group">
                <textarea id="newsTextArea" cols="50" name = "newsText" ng-model="myTextarea" [(ngModel)] = "newsText"  [ngModelOptions]="{standalone: true}" (input)="onChange(this.newsText)"></textarea>
            </div>
                 
            
          </div>
  
          <div id = "error" *ngIf="isShown"class="alert alert-danger">
            All fields need to be filled
          </div>
  
        </form>
      </div>
      <div class="modal-footer">
       <button id="addBtn" type="button" class="btn btn-outline-dark" (click)="createNews()">Add</button>

      </div>
    </div>
  </ng-template>
  

  <button id="addNewsBtn" type="button" class = "btn mr-2 btn-block" mdbBtn color="success" mdbWavesEffect (click)="open(newsContent)">Add news</button>
  