@import url(//fonts.googleapis.com/css?family=Lato:400,900);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.container {
  padding-top: 56px;
}
.div-left {
  position: absolute;
  left: 0;
  padding-left: 0px;
  width: 50.7%;
  height: 100%;
}

a {
  cursor: pointer;
  color: black;
}

a:hover {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

.div-bg {
  height: 100%;
}

.div-bg-align {
  height: 100%;
  text-align: center;
}
