<div class="container bg-light">

  <app-map [culturalOffers]="culturalOffers"></app-map>

  <div class="div-left">

    <div class="col">
      <div class="card md text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" id="aboutLink"
                (click)="showAbout=true; showComments=false; showNews=false; showSubscribtion=false;">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="NewsNavLink"
                (click)="showAbout=false; showComments=false; showNews=true; showSubscribtion=false;">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="commentsLink"
                (click)="showAbout=false; showComments=true; showNews=false; showSubscribtion=false;">Comments</a>
            </li>
            <li class="nav-item" *ngIf="userRole==='user'">
              <a class="nav-link" id="subscriptionLink"
                (click)="showAbout=false; showComments=false; showNews=false; showSubscribtion=true;">Subscription</a>
            </li>
            <li *ngIf="userRole==='admin'" class="nav-item">
              <app-cultural-offer-update id="openUpdateBtn" [culturalOffer]="culturalOffer"
                (refreshEvent)="refreshPage($event)">
              </app-cultural-offer-update>
            </li>
            <li *ngIf="userRole==='admin'" class="nav-item">
              <app-cultural-offer-delete id="deleteBtn"
                style="position: absolute; right: 1%; top: 2%; transform: scale(2);" [culturalOffer]="culturalOffer"
                (refreshEvent)="leavePage($event)">
              </app-cultural-offer-delete>
            </li>
          </ul>
        </div>
        <div *ngIf="showAbout">
          <div class="picsum-img-wrapper">
            <app-cultural-offer-cover id="offerCover" [culturalOffer]="culturalOffer"></app-cultural-offer-cover>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              <label id="offerName">{{culturalOffer?.name}}</label>
            </h4>
            <ngb-rating id="rating" [readonly]="true" [max]="5" [rate]="culturalOffer?.averageRating"></ngb-rating>
            <hr>
            <p class="card-text" id="offerAddress">Address: {{culturalOffer?.location.street}},
              {{culturalOffer?.location.city}},
              {{culturalOffer?.location.country}}</p>
            <hr>
            <p class="card-text" id="offerAbout">{{culturalOffer?.about}}</p>
          </div>
        </div>
      </div>
      <div class="bg-light div-bg" *ngIf="showNews">
        <app-news id="seeNews" [culturalOffer]="culturalOffer"></app-news>
      </div>
      <div class="bg-light div-bg" *ngIf="showComments">
        <app-comment id="seeComents" [culturalOffer]="culturalOffer"></app-comment>
      </div>
      <div class="bg-light div-bg-align" *ngIf="showSubscribtion">
        <p class="card-text" id="subscribeText"> <b>Subscribe to our newsletter and stay updated on the latest news on
            {{culturalOffer.name}}!</b><br>You can unsubscribe at any time.</p>
        <app-unsubscribe id="subscribe" [currentOffer]="culturalOffer"></app-unsubscribe>
      </div>
    </div>

  </div>
</div>
