<a *ngIf="culturalOffer" (click)="show(cover)"><img *ngIf="culturalOffer" class="card-img-top"
    [src]="cover ? cover : 'http://placehold.it/700x400'" alt=""></a>
<div *ngIf="comment" class="container row">
  <div *ngFor="let cover of this.commentCover[this.comment.name]" class="col-xs-6">
    <a (click)="show(cover)"><img ngbTooltip="Click to enlarge!" class="card-img-top"
        [src]="cover ? cover : 'http://placehold.it/700x400'" alt="" style="width:100px;height:50px;"></a>
  </div>
</div>
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true"  style=" overflow-y: scroll;">
  <div class="modal-dialog modal-lg modal-size">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="hide()"><span
            aria-hidden="true" >&times;</span></button>
      </div>
      <div class="modal-body">
        <img class="modal-image" [src]="picture" id="imagepreview" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
</div>
