<!--<button class="btn btn-lg" mdbBtn [color]="{'success': !isSubbed, 'warning' : isSubbed}" (click)="subUnsub()" mdbWavesEffect>{{buttonText}}</button>-->
<button class="btn btn-lg btn-block"  id = "subUnsubBtn" mdbBtn [color]="isSubbed ? 'warning' : 'success'" (click)="subUnsub()" mdbWavesEffect  >{{buttonText}}</button>