<div *ngIf="activeRoute==='map'" class="map-filter">
  <div id="map" style="height:100%; width:100%;">
  </div>
</div>
<div>
  <div *ngIf=" activeRoute!=='map'">
    <div id="map" style="height:100%; width:50%; position:fixed; right:5px; border-style: solid; border-color: #E8E8E8">
    </div>
  </div>
