<div class="container">
  <h2 id="titleComments">Comments
  </h2>
  <div class="col">
    <hr>
    <div *ngFor="let comment of comments">
      <div *ngIf="comment.pictures.length!=0">
        <app-cultural-offer-cover [comment]="comment"></app-cultural-offer-cover>
      </div>
      <div class="head">
        <small><strong class='user'>{{comment.username}}</strong> {{comment.date | date}}</small><br>
        <ngb-rating id="commentRating" [readonly]="true" [max]="5" [rate]="comment.rating"></ngb-rating><br>
        <p id="commentText">{{comment.text}}</p>
        <hr>
      </div>
    </div>
    <div class="paginator">
      <ngb-pagination id="paginator" class="d-flex justify-content-start" [collectionSize]="collectionSize" [maxSize]=4
        [rotate]="true" [boundaryLinks]="true" [(page)]="page" size="sm" (pageChange)="ngOnInit()">
      </ngb-pagination>
    </div>
    <app-comments-form id="leaveComment" *ngIf="userRole==='user'" [currentCategory]="offerId"
      [currentOffer]="culturalOffer" (newItemEvent)="reload($event)">
    </app-comments-form>
    <hr>
  </div>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
