<form #heroForm="ngForm" appIdentityRevealed>
  <div class="cross-validation" [class.cross-validation-error]="
        heroForm.errors?.identityRevealed &&
        (heroForm.touched || heroForm.dirty)">

    <ng-template  #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add cultural offer</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" name="name" class="form-control" required [(ngModel)]="newCulturalOffer.name" placeholder="Cultural Offer's name"
            #name="ngModel" />

          <div *ngIf="name.invalid && (name.dirty || name.touched)" id = "alert-name" class="alert alert-danger">
            <div *ngIf="name.errors?.required">Name is required.</div>
          </div>
        </div>

        <div class="form-group">
          <div ngbDropdown class="d-inline-block">
            <label>Category</label>
            <button ngbDropdownToggle ng-click="toggled" ng-bind="selected" *ngIf="selectedValue" id="category"
              name="category" class="form-control" required [(ngModel)]="selectedValue" #category="ngModel"
              ngDefaultControl>
              {{ selectedValue }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <div *ngFor="let category of categories">
                <button ngbDropdownItem (click)="selectCategory(category)">
                  {{ category.name }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <input mdbInput type="text" class="form-control" id="country" name="country" required
            [(ngModel)]="newCulturalOffer.country" #country="ngModel" placeholder="Serbia"  />

          <div *ngIf="country.invalid && (country.dirty || country.touched)" id = "alert-country" class="alert alert-danger">
            <div *ngIf="country.errors?.required">Country is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="City">City</label>
          <input mdbInput type="text" class="form-control" id="city" name="city" required
            [(ngModel)]="newCulturalOffer.city" #city="ngModel" placeholder="Belgrade" />

          <div *ngIf="city.invalid && (city.dirty || city.touched)" id = "alert-city" class="alert alert-danger">
            <div *ngIf="city.errors?.required">City is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="Street">Street</label>
          <input mdbInput type="text" class="form-control" id="street" name="street" required
            [(ngModel)]="newCulturalOffer.street" #street="ngModel"  placeholder="Krusedolska 2a" />

          <div *ngIf="street.invalid && (street.dirty || street.touched)" id = "alert-street" class="alert alert-danger">
            <div *ngIf="street.errors?.required">Street is required.</div>
          </div>
        </div>

        <div class="form-group">
          <div class="md-form form-group">
            <label for="Photo">Photo</label><p></p>
            <span style="color:red;" *ngIf="message">{{message}}</span>
            <input #file class = "input" id = "pic" name = "pic" type="file" accept='image/*' style = "  white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;" (change)="onFileChange($event);preview(file.files)"/>
            <div>
            <img [src]="imgURL" height="200" *ngIf="imgURL" id = "picture-preview">
            </div>
            <div  *ngIf="!imgURL" id = "alert-pic" class="alert alert-info">Picture is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="form103">Description</label>
          <textarea type="text" id="form103" class="md-textarea form-control" rows="5" name="about" required placeholder="Some description required"
            [(ngModel)]="newCulturalOffer.about" #about="ngModel" required></textarea>
            <div *ngIf="about.invalid && (about.dirty || about.touched)" id = "alert-description" class="alert alert-danger">
              <div *ngIf="about.errors?.required">Description is required.</div>
            </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" id = "cancel-btn" class="btn btn-outline-default" (click)="modal.close('close')">
          Cancel
        </button>
        <button type="submit" id = "save-btn" class="btn btn-default" [disabled]="heroForm.invalid || !imgURL"
          (click)="this.save(); modal.close('close')">
          Save
        </button>
      </div>
    </ng-template>
  </div>
</form>


<button  type="button" mdbBtn color="success" id = "add-offer" (click)="open(content)" *ngIf = "this.userRole=='admin' && this.categories.length>0" mdbWavesEffect>ADD OFFER</button>

<pre>
  <!-- {{ closeResult }} -->
</pre>
<p></p>
