<div class="container">
  <h2 id="titleNews">News
  </h2>
  <div class="row">
    <div *ngIf="userRole==='admin'" class="col-md-4">
      <app-news-add id="addNews" [currentOffer]="culturalOffer" (newItemEvent)="reload($event)">
      </app-news-add>
    </div>
    <div class="col-md-9 newsPanel" *ngFor="let n of news">
      <h4 class="mt-4" id="newsTitle">{{n.title}}</h4>
      <p>
        by
        <label><span class="badge badge-dark">Admin</span></label>
      </p>
      <hr>
      <p id="dateAdded">Posted on {{n.dateAdded | date}}</p>
      <hr>
      <p id="newsText">{{n.text}}</p>
      <hr>
    </div>
  </div>
  <div class="paginator">
    <ngb-pagination id="paginatorNews" class="d-flex justify-content-start" [collectionSize]="collectionSize"
      [maxSize]=4 [rotate]="true" [boundaryLinks]="true" [(page)]="page" size="sm" (pageChange)="changePage()">
    </ngb-pagination>
  </div>
</div>
