@import "~bootstrap/dist/css/bootstrap.min.css";
/* body {
  padding-top: 56px;
  background-image: url('/assets/16101189994801.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
} */

html,
body,
app-root {
  height: 100%;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
