<img id="deleteOfferIcon" src="/assets/delete-24px.svg" alt="" (click)="deleteCulturalOffer()">
<div *ngIf="beingDeleted" class="spinner-border text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
<!--<i class="fas fa-trash-alt" style="color: red;" (click) = "deleteCulturalOffer()"></i>-->
