<head>

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  
  </head>
<form>
    <div class=" h-100 input-group form-group "> 

      <div class="input-group-prepend">
        <span id="userIcon" class="input-group-text"><i class="fas fa-user fa-2x"></i></span>
      </div>
      <input id="username" class="form-control form-control-lg bg-secondary" type="text" placeholder="{{this.userDisplay}}" name="username" readonly >
    </div>
    <div class="input-group form-group">

      <div class="input-group-prepend">
        <span id="userIcon" class="input-group-text"><i class="fa fa-unlock fa-2x"></i></span>
      </div>
      <input id="oldPassword" class="form-control form-control-lg bg-secondary " type={{this.type}} placeholder="old password" name="oldPassword" required 
      [(ngModel)]="user.oldPassword" #oldPassword="ngModel">

    </div>
    <div id="oldPassError" *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert alert-danger">
      <div *ngIf="oldPassword.errors?.required" >Old password must not be empty.</div>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="ch1" (change)="show($event)">
      <label class="form-check-label" for="exampleCheck1">Show password</label>
    </div>
    <br>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-key fa-2x"></i></span>
      </div>
      <input id="newPassword" class="form-control form-control-lg bg-secondary" type={{this.type1}} placeholder="new password" name="newPassword" required
      [(ngModel)]="user.newPassword" #newPassword="ngModel">
    </div>
    
    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
      <div *ngIf="newPassword.errors?.required" >New password must not be empty.</div>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="ch2" (change)="show1($event)">
      <label class="form-check-label" for="exampleCheck1">Show password</label>
    </div>
    <br>
    <div class="input-group form-group">

      <div class="input-group-prepend">
        <span id="userIcon" class="input-group-text"><i class="fas fa-redo fa-2x"></i></span>
      </div>
      <input id="rePassword" class="form-control form-control-lg bg-secondary" type={{this.type2}} placeholder="repeat password" name="rePassword"
        required  [(ngModel)]="user.rePassword" #rePassword="ngModel">

    </div>
    <div *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)" class="alert alert-danger">
      <div *ngIf="rePassword.errors?.required" >Repeat password.</div>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="ch3" (change)="show2($event)">
      <label class="form-check-label" for="exampleCheck1">Show password</label>
    </div>
    <br>

    <div class="input-group form-group">
      <input id="changePass" value="Change password" class="form-control form-control-lg bg-primary" type="submit" style="color: aliceblue;" (click)="changeProfile()">
    </div>
  </form>