@import url("https://fonts.googleapis.com/css?family=Numans");

.bg{
  background-color: #32568b50;
  min-height: 100%;
  min-width: 100%;
}
/*
.bg {
  position: fixed;
  padding-top: 50px;
  background-image: url("/assets/shutterstock_778222297-scaled.jpg");
  background-size: auto 100%;
  background-size: 100% auto;
  top: 200;
  left: 0;

  min-height: 100%;
}

.container {
  height: 100%;
  align-content: center;
  //  margin-top: 3%;
}

.my-class::placeholder {
  color: red;
}

.my-class2::placeholder {
  color: red;
}

.card {
  height: 417px;
  margin-top: 6.5%;
  margin-bottom: auto;
  width: 417px;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.card-header h3 {
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #1d4c92;
  color: #ffc312;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.btn {
  float: left;
  color: black;
  background-color: #ffc312;
  width: 120px;
  position: absolute;
  left: 35%;
}

.btn:hover {
  color: black;
  background-color: orange;
}
*/
