<head>

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


</head>

<div class="bg">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 style="color: #FFC312;">Sign up</h3>

      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">

            <div class="input-group-prepend">
              <span id="userIcon" class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input id="username" class="form-control" type="text" placeholder="username" name="username" required
              [(ngModel)]="user.username" #username="ngModel" (input)="onChange(this.user.username)"> 
          </div>
          
          <div class="input-group form-group">

            <div class="input-group-prepend">
              <span id="userIcon" class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input id="email" class="form-control" type="email" placeholder="email address" name="email" required
              [(ngModel)]="user.email" #email="ngModel" (input)="onChange(this.user.email)">

          </div>
 
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input id="password" class="form-control" type="password" placeholder="password" name="password" required
              [(ngModel)]="user.password" #password="ngModel" (input)="onChange(this.user.password)">
          </div>
         
          <div class="input-group form-group">

            <div class="input-group-prepend">
              <span id="userIcon" class="input-group-text"><i class="fas fa-redo"></i></span>
            </div>
            <input id="rePassword" class="form-control" type="password" placeholder="repeat password" name="rePassword"
              required [(ngModel)]="user.rePassword" #rePassword="ngModel" (input)="onChange(this.user.rePassword)" >

          </div>
          <div id = "error" *ngIf="isShown"class="alert alert-danger">
            All fields need to be filled
          </div>
         


          <br>
          <div class="form-group">
            <button id="registerBtn" class="btn col-xl-4" type="submit" (click)="signUp()">Register</button>
            
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>

</div>
