@import url("https://fonts.googleapis.com/css?family=Numans");

.bg {
  position: fixed;
  padding-top: 56px;
  background-image: url("/assets/16101189994801.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.container {
  height: 100%;
  align-content: center;
  //  margin-top: 3%;
}

.my-class::placeholder {
  color: red;
}

.my-class2::placeholder {
  color: red;
}

.card {
  height: 430px;
  margin-top: 6.5%;
  margin-bottom: auto;
  width: 430px;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.card-header h3 {
  color: white;
  text-align: center;
  font-size: large;
}

.input-group-prepend span {
  width: 50px;
  background-color: #1d4c92;
  color: #ffc312;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.btn {
  float: left;
  color: black;
  background-color: #ffc312;
  width: 120px;
  position: absolute;
  left: 34%;
}

.btn:hover {
  color: black;
  background-color: orange;
}
