<form class="form" style="background-color:rgb(160, 195, 236);">
  <div class="form-group">
    <input class="form-control" name="search-entry" type="text" [(ngModel)]="name" placeholder="Cultural Offer's name"/>
  </div>
  <input  *ngIf="name"  id = "resetBtn" type="button" class="btn btn-default pull-right" value="reset" (click)="reset()" />

  <button type="button" id = "searchBtn" mdbBtn color="primary" value="search" (click)="this.newItemEvent.emit(name)" mdbWavesEffect>Search</button>
</form>
