<div class="collum">

  <div class="row" >
    <div *ngIf="this.culturalOffers.length === 0 || this.currentCategory === null">
      <p>There is no offers to show!</p>
    </div>

    <div class="col-md-4 offer-card" *ngFor="let culturalOffer of culturalOffers; index as i; first as isFirst">

      <div  *ngIf = "this.currentCategory != null"  class="card h-100 offer-card-inside">
        <div class="card-footer" style="text-align: center;">
          <ngb-rating [rate]="culturalOffer.averageRating" style="color: yellow;"></ngb-rating>

          <app-cultural-offer-delete *ngIf="this.userRole=='admin'" [culturalOffer]="culturalOffer"
            (refreshEvent)="refreshList($event)" style="position: absolute; right: 0%">
          </app-cultural-offer-delete>

        </div>

        <a>
          <app-cultural-offer-cover [culturalOffer]="culturalOffer"></app-cultural-offer-cover>
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <div class="link">
              <h1><a id="offerDetailsLink" (click)="showOffer(culturalOffer.id)">{{ culturalOffer.name }}</a></h1>
            </div>
          </h4>

          <p class="card-text">{{culturalOffer.about}}</p>
        </div>
        <div id="news-render" *ngIf="this.userRole=='admin'">
          <app-news-add id="addNewsForm" [currentCategory]="currentCategory" [currentOffer]="culturalOffer">
          </app-news-add>
          <br>
        </div>
        <div *ngIf="this.userRole=='admin'">
          <app-cultural-offer-update [culturalOffer]="culturalOffer" (refreshEvent)="refreshList($event)">
          </app-cultural-offer-update>

        </div>
        <div id="comp-render" *ngIf="this.userRole=='user'">
          <app-unsubscribe [currentOffer]="culturalOffer"></app-unsubscribe>
          <app-comments-form id="leaveCommentForm" [currentCategory]="currentCategory" [currentOffer]="culturalOffer">
          </app-comments-form>
        </div>



      </div>
      <br>
    </div>
  </div>
  <div class="paginator" style="margin-top: 50px;">
    <ngb-pagination id="paginator" [maxSize]="10" [collectionSize]="collectionSize" [pageSize]="pageSize"
      [(page)]="currentPage" (pageChange)="onPageChange(currentPage)">
    </ngb-pagination>
  </div>
</div>
