<form #heroForm="ngForm" appIdentityRevealed>
  <div class="cross-validation" [class.cross-validation-error]="
        heroForm.errors?.identityRevealed &&
        (heroForm.touched || heroForm.dirty)">
    <ng-template #updateContent let-modal>

      <div id="updateForm">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Update cultural offer</h4>
          <button id="closeUpdateBtn" type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="updateName">Name</label>
            <input id="updateName" name="name" class="form-control" required [(ngModel)]="culturalOffer.name"
              placeholder="Cultural Offer's name" #name="ngModel" />
            <div id="alertUpdateName" *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors?.required">Name is required.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="updateDescriptionText">Description</label>
            <textarea type="text" id="updateDescriptionText" class="md-textarea form-control" rows="5" name="about"
              required placeholder="Some description required" [(ngModel)]="culturalOffer.about" #about="ngModel"
              required></textarea>
            <div *ngIf="about.invalid && (about.dirty || about.touched)" class="alert alert-danger">
              <div id="alertUpdateDescription" *ngIf="about.errors?.required">Description is required.</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="cancelUpdateBtn" type="button" class="btn btn-outline-secondary" mdbBtn
            (click)="modal.close('close'); cancel();">
            Cancel
          </button>
          <button id="updateBtn" type="submit" class="btn btn-secondary" mdbBtn [disabled]="heroForm.invalid"
            (click)="update(); modal.close('close')">
            Update
          </button>

        </div>
      </div>
    </ng-template>
  </div>
  <button id="openUpdateBtn" type="button" class="btn mr-2 btn-block" mdbBtn color="secondary" mdbWavesEffect
    (click)="open(updateContent)">Update</button>
