<ng-template #content let-modal>

  <div class="alert alert-success" role="alert" *ngIf="alert">
    Comment successfuly posted.
  </div>
  <div *ngIf="!alert" id = "leaveCommentForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Leave a comment</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
      <form [formGroup]="myForm">
        <div class="form-group">
          <label>Comment text</label>
          <div class="input-group">
            <textarea id = "commentTextArea" ng-model="myTextarea" [(ngModel)]="commentText" [ngModelOptions]="{standalone: true}"
              name="commentText"></textarea>
          </div>

          <div class="form-group">
            <label>Add pictures</label>
            <input id="file" type="file" class="form-control" multiple="" (change)="onFileChange($event)"
              accept=".png, .jpg">
          </div>

          <div>
            Rate:
            <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>
          </div>
        </div>



        <img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br />

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" id="saveCommentBtn" class="btn btn-outline-dark" (click)="createComment()">Save</button>
    </div>
  </div>
</ng-template>

<button id="commentBtn" class = "btn-block" type="button" mdbBtn color="primary" mdbWavesEffect (click)="open(content)" >Leave a comment</button>